<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      span.shoppinglist-ok {
        color: green;
      }
      span.shoppinglist-remove {
        color: red;
      }
    </style>
  </head>
<body data-ng-app="ShoppingList">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" data-ng-controller="ToBuyListController as toBuyList">
     <h2>To Buy:</h2>
     <ul>
       <li data-ng-repeat="item in toBuyList.items">
         Buy {{item.quantity}} {{item.name}}
         <button class="btn btn-default" data-ng-click="toBuyList.tickItem($index);">
           <span class="shoppinglist-ok glyphicon glyphicon-ok"></span> Bought
         </button>
       </li>
     </ul>
     <div class="emptyMessage" data-ng-if="toBuyList.isEmpty();">
       Everything is bought!
     </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" data-ng-controller="BoughtListController as boughtList">
     <h2>Already Bought:</h2>
     <ul>
       <li data-ng-repeat="item in boughtList.items">
         Bought {{item.quantity}} {{item.name}}
         <button class="btn btn-default" data-ng-click="boughtList.tickItem($index);">
           <span class="shoppinglist-remove glyphicon glyphicon-remove"></span> Undo
         </button>
       </li>
     </ul>
     <div class="emptyMessage" data-ng-if="boughtList.isEmpty();">
       Nothing bought yet.
     </div>
    </div>
  </div>
</div>

</body>
</html>
